.social-media{
    grid-area: social-media;
    display: flex;
    place-self: end;
    flex-direction: column;
    gap: 26px;
}

.icon{
        width: 48px;
        height: 48px;
        justify-content: center;
        color: #fff;
        font-size: 25px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        
}
